body {
	margin:0px;
	background-image: url(Image/longboard.png);
	background-size: 100% 300%;
	background-repeat: no-repeat;

}

h1,h2,h3,h4,h5,h6,p{
	font-family: Georgia;
	font-style: italic; /* Cursive */
	text-shadow: 1px 1px 2px rgba(0,0,0,0.3); /* horizontal-shadow vertical-shadow blur color(red, green, blue, opacity) */
	text-align: center;
}

nav{
	width: 99%;
	height: 80px;
	margin: 10px auto 0px auto;
	border:;

}

nav a{
	color:black;
}

nav a:hover{
	color:orange;
}

#current{
	text-decoration:underline;	
}


.login{
	margin:20px auto 0px auto;
	width:99%;
	height:20px;
}
.login .Signin{
	float:right;
	border:solid black 2px;
	height: 20px;
	margin-left: 5px;

}
 .Signin:hover{
	background-color: red;
}
.login .Signin p{
	margin:0px;
}

.kryssbox{
	border:solid;
	border-radius:50%;
	position:relative;
	height:20px;
	width:20px;
	right:-750px;
	top:320px;
	background:#e3e3e3;
	border-color:darkred;
z-index: 1;

}

.kryssbox p{
	color:darkgreen;
	border:15px 15px 15px;
	position:absolute; 
	margin: -7px 20px -30px 0px;
	top:5px;
	z-index: 1;
	left:4px;
	top:6px;
}

.kryssbox:hover{
	color:lightgrey;
	background: #333;
}

.kryssbox a{
	width:15px;
	height:15px;
	margin-top: -50px;
}
.login .Password{

	float:right;
	width:173px;
	height:20px;
}

.login .Username{
	margin-right:5px;
	float:right;
	width:173px;
	height:20px;
}
.navLink{
	position:relative;
	float:left;
	width:20%;	
	height:76px;
	border: solid darkblue 2px ;
	margin: 0px -2px;
	background-color: purple;
}

.navLink:hover{
	background-color: darkblue;
}
.container{
	position:relative;
	width: 80%;
	margin: 0px auto 0px auto; /* top right bottom left */
	border: 3px black solid; /* border-width border-color border-style*/
}

.box{
position:relative;
	float:left;
	width:20%;	
	height:76px;
	right: -530px;
	top: -80px;
} 



}
.infoDisplay .infoContainer .infoContentContainer {
  margin: auto;
  background-color: #f3f3f3;
  position: relative;
  padding: 0;
  outline: 0;
  border: 1px #777 solid;
  text-align: justify;
  width: 230px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  /* animation */
  -webkit-animation-name: exempel; 
  -webkit-animation-duration: 0.5s;
  animation-name: exempel;
  animation-duration: 0.5s;
}

.Hjalp{
	position: fixed;
	margin:300px 0px 0px 0px;
	
	border-radius: 20px 20px;
	width: 10%;
	float:left;
	background-color: rgba(0, 111, 187, 1);


}
.Hjalp h2{
	color:white;
}
.Hjalp:hover{
	background-color: rgba(0, 132, 219, 1);
}

.rutan{
	color: blue;
	border: solid;
	float:left;
	margin:-300px -100px -100px 100px;
	width: 300px;
	height: 800px;
}

.klader{
	width:200px;
	height:400px;
	background-color: red;
	margin-top:-800px;
	display:none;
	margin-left: 200px;
	position: relative;
	z-index: 1;

} 

.skor{
	width:100%;
	height:50px;
	background-color: blue;
	position: relative;
	top: 0px;
	

	
}

.skor p{
	position:absolute;
	color:red;
	font-size:20px;
	top:200px;
	top:0px;
	

}

.skor:hover{
	background-color: darkred;
	top:0px;
}



.klader2{
	width:200px;
	height:400px;
	background-color: black;
	display:none;
	margin-top: -800px;
	margin-left: 100px;
	z-index: 1;

}

.klader2:hover{
	width:200px;
	height:400px;
	margin-top: -800px;
	margin-left: 100px;

}

.java{
	display: :none;
	width:200px;
	height:400px;
	margin-top: -800px;
	margin-left: 180px;
	position: fixed;
}

.nav2{
	position:relative;
	left:200px;
	width:200px;
	height: 50px;
	margin:200px 200px;
}

.media{
	
	
	padding: 5px 5px;
	position: relative;
	bottom:-10px; 
	float:left;
}

.media2{
	padding: 5px 5px;
	position: relative;
	bottom:-400px;
	float:left;
	left:-280px;
}
.cssmenu{
	display:none;
}

