.foto{
	background-color: #FFF78B;
 	width:1000px;
 	height:800px;
	border:5px solid #FFCA61;
	margin-left:200px;
	margin-top:-5px;
}

.foto .topLeft{
	margin-left:-65px;
	float:left;
	width:35%;
	height:60%;
}

.foto .topMiddle{
	float:left;
	width:35%;
	height:60%;
}

.foto .left{
	float:right;
	margin-top:-480px;
	width:30%;
	height:100%;
}


.foto .bottomLeft{
	float:left;
	margin-top:-0px;
	width:70%;
	height:40%;
}

.sidoruta{
	float:left;
	border:blue solid 3px;
	margin:-833px 12px 2px 5px;
	padding: 0px 5px;
	background-color: #594B69;
}

.sidoknapp{
	background-color: lightgrey;
	border-radius: 20px;
	height:25px;
	padding:25px 0px 25px 0px;
	border:1.5px #123 solid;
	margin:20px 0px 20px 0px;

}
.sidoknapp:hover{
	background-color: grey;
	padding:0px;
	margin:45px 0px 45px 0px;

}
.sidoknapp p{
	margin: 0px;
}