.foto{
  width:1000px;
  height:800px;
  border:5px solid black;
  margin-left:200px;
}

.foto .topLeft{
	margin-left:-65px;
	float:left;
	width:35%;
	height:60%;
}

.foto .topMiddle{
	float:left;
	width:35%;
	height:60%;
}

.foto .left{
	float:right;
	margin-top:-480px;
	width:30%;
	height:100%;
}


.foto .bottomLeft{
	float:left;
	margin-top:-0px;
	width:70%;
	height:40%;
}

.sidoruta{
	float:left;

	margin-top:-680px;
	margin:-680px 12px 2px 2px;
	height: 100px;
	width:180px;
	border-top: 20px;
}

.produkter{
	
	border:solid 1px #123;
	border-radius: 20px;
	
	background-color: lightgrey;
}

.produkter:hover{
	background-color: grey;
	border:100px;
}

.klader{
	border:solid 1px #123;
	border-radius: 20px;
	background-color: lightgrey;
}

.klader:hover{
	background-color: grey;
	border:100px;
}

.brada{
	border:solid 1px #123;
	border-radius: 20px;
	background-color: lightgrey;
}

.brada:hover{
	background-color: grey;
	border:100px;
}